#title {
  height: 2;
  color: green;
  content-align: center middle;
}

#task_input {
  height: 3;
  padding: 1;
  border: tall $accent;
}

#result {
  margin: 1;
  border: round yellow;
  padding: 1;
  height: 30;
  overflow: scroll;
}
